.main{
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(160deg, rgb(255, 192, 203) 0%, rgb(255, 154, 162) 100%);
}
.main h1{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}