.main {
    width: 100%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 182, 193); 
    border-top: 2px solid rgb(255, 215, 225); 
    box-shadow: 0 -5px 15px rgba(150, 40, 70, 0.1); 
    box-sizing: border-box; 
}

.main h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(120, 30, 60); 
    letter-spacing: 0.5px;
}